* {
    /* o seletor asterisco, serve para  zerar todas as formatações padrão do elemento*/
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    font-family: 'Shantell Sans', cursive;}
a {
    padding: 8px 12px;
    text-decoration: none;
    color: antiquewhite;
    font-size: 1.5em;
    border-radius: 20px;
    border-bottom: aliceblue;
}
h1{
    color: #4e4e4e;
    font-size: 2.5em;
}
a:hover {
    color: #F9C606;
    background-color: antiquewhite;
}

a:active {
    background-color: #F9C606;
    color: antiquewhite;
}

.post-title{
    color: #F9C606;
}
.post{
    
}
.white-title {
    color: white;
}
#area-logo {
    margin: 10px;
}

#header-area {
    background-color: #F9C606;
    margin: 20px;
    text-align: center;
    padding: 20px;
}

#area-menu {
    text-decoration: none;
    padding: 20px;
    margin-right: 20px;
    margin-left: 20px;
}
#main-area{
    /* a largura padrão de mercado é 920px   */
    width: 920px;
    margin: 0 auto;
}
#posts-area{
    width: 660px;
    float: left;
    margin: 0 20px;
}
#label-area{
    width: 240px;
    float: right;
}
#footer{
    background-color: green;
    text-align: center;
    padding: 15px;
    clear: both;
}